*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}


.form-control {
    display: inline;
}

p, label{
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.haut{
    left:60%;
    top:25px;
    position:absolute;
    display: block;
}

.contact{
    margin-top: 25px;
    margin-left: 145px;
    color: black;
}

.image{
    margin-top: 4%;
    margin-left: 20%;
}
 
.texte{
    text-align: center;
    margin-top: -15%;
    margin-left: 38%;
    color: black;
}

.text{
    text-align: center;
    margin-top: 5%;
    margin-left: -40%;
    color: black;
}

.img2{
    margin-top: -15%;
    margin-left: 60%;
}

footer{
    width: 100%;
    position: absolute;
    top: 100%;
    /*bottom:0%;*/
    font-size: 11px;
    color: white;
    padding-left: 85%;
    background-color: #1846a3;
    /* margin-top: 110px; */
    border-top: 0.1px solid rgb(7, 51, 196);
    padding-top: 10px;
}

.select {
    width: 10%;
    left: 88%;
    margin-top:-3%;
}

/*.connect{
    margin-left: 60%;
    margin-top: 10%;
    width: 20%;
    text-align: center;
}*/

.imgConnect{
    margin-top: 12%;
    margin-left: 16%;
}

.connect {
    text-align: center;
    position: absolute;
    height: 65%;
    left: 60%;
    top: 20%;
    /* gray/50 */
    background: #F9FAFB;
    /* gray/100 */
    border: 1px solid #F4F5F7;
    box-sizing: border-box;
    width: 25%;
    padding-top: 2%;
}

.inputLogin{
    margin: 10%;
    font-size: 12px;
}

.label{
    color: hsla(241, 96%, 47%, 0.925);  
    margin-left: -55%;
    font-size: 14px;
}

.mdp{
    margin-left: 47%;
    margin-top: -16%;
}

.document{
    margin-left: 4%;
    margin-top: 3%;
}

.fichier{
    font-size: 25px;
    margin-top: -22%;
    margin-left: 30%;
}

.choseFile{
    margin-left:30%;
    margin-top:-7%;
    width:88%;
    height:10%;
}

.titleListeEleve{
    margin-left: 28%;
    margin-top: -12%;
    
}

.searchEleve{
    margin-left: 21%;
}

.tcadre{
    width: 26%;
    background: #F9FAFB;
    margin-top: 1%;
    margin-left: 26%;
}

.informationsEvele{
    margin-left: 6%;
    text-align: center;
    margin-top: 2%;
    font-size: 12px;
    background: #F9FAFB;
    height: 300px;
}

.bloc2{
    text-align: center;
    margin-left: 60%;
    margin-top: -32%;
}

.mesInputs{
    margin-left: 70%;
}

.Ajouter{
    margin-left: 70.2%;
}

.infoPerso{
    margin-left: 30%;
    margin-top:-11%;
}

.tableau-cadre{
    margin-left: 30%;
    margin-top: 4%;
    background: #F9FAFB;
    width: 30%;
}

.cadre{
    background: #F9FAFB;
    margin-left: 10%;
    margin-top: -5%;
    height: 350px;
}

.cloud{
    text-align: center;
}

.network{
text-align: center;
}

.TitleContact, .sTitle{
    text-align: center;
}

.Inputs{
    margin-left: 22%;
}

.envoyer{
    margin-left:40%
}

.nousRendreVisite{
    margin-left:2%
}